<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Pagecount:</strong>
  <%= @article.pagecount %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @article.published_at %>
</p>

<p>
  <strong>Published:</strong>
  <%= @article.published %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category_id %>
</p>

<%= link_to 'Edit', edit_public_article_path(@article) %> |
<%= link_to 'Back', public_articles_path %>
